<nav>
  <h1>Check-In Admin</h1>
  <div class="links">
    <a href="/statistics-overview">Statistics</a>
    <a href="/auth-codes">Authentication Codes</a>
    <a href="/archives">Archives</a>
    <a href="/admin-signout">Sign Out</a>
  </div>
</nav>
