#code-list {
  width: 100%;
  height: 60%;
  overflow-y: scroll;
  background-color: floralwhite;
}
.code {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: blanchedalmond;
  border-radius: 20px;
}
.code-value {
  width: 50%;
  border: 1px solid black;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.code-status {
  width: 50%;
  border: 1px solid black;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.code h3 {
  text-align: center;
}

#code-update {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: floralwhite;
}
#code-update textarea {
  padding: 0;
  width: 30%;
  text-align: center;
}
#code-update button {
  margin-top: 10px;
  width: 250px;
  height: 40px;
  font-size: 20px;
}
